<div class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <div class="title">
        <p style="margin-top: 3px">{{ this.detailModel?.title }}</p>
      </div>
      <div class="card-content-description">
        <p>{{ this.detailModel?.description }}</p>
      </div>
    </div>
    <div class="flip-card-back">
      <div class="card-content-description-back">
        <div style="display: flex">
          <p style="font-weight: bold">{{ this.detailModel?.dataNumber }}</p>
          <p style="margin-left: 15px">{{ this.detailModel?.type }}</p>
        </div>
        <p>have been generated inside the Memgraph database</p>
        <button
          *ngIf="!this.isLoading"
          class="back-button"
          (click)="this.getJsonData()">
          Download JSON
        </button>

        <sp-spinner
          *ngIf="this.isLoading"
          class="spinning"></sp-spinner>
      </div>
    </div>
  </div>
</div>
