<!--Main content-->
<div
  class="toast"
  [ngClass]="{
    success: this.toastLevel === 1,
    warning: this.toastLevel === 2,
    error: this.toastLevel === 3
  }"
  [@toastAnimation]>
  <!--Title-->
  @if (this.title) {
    <div class="toast-title">
      <strong>{{ title }}</strong>
      <hr class="toast-divider" />
    </div>
  }

  <!--The icon-->
  <div class="toast-icons">
    @if (this.helpIcon && this.externalLink != null && this.externalLink !== '') {
      <i
        class="bi bi-question-circle"
        title="Help"
        (click)="this.openLink()"></i>
    }

    @if (this.closeIcon) {
      <i
        class="bi bi-x-lg"
        title="Close"
        (click)="this.closeToast()"></i>
    }
  </div>

  <span>{{ message }}</span>
</div>
