.master {
  width: 650px;
  height: 450px;
  padding: 10px;
}

.title {
  width: 100%;
  text-align: center;
  height: 40px;
  background-color: rgb(224, 224, 224);

  p {
    height: 100%;
    color: black;
    font-size: 25px;
    font-family: Georgia, "Times New Roman", Times, serif;
  }
}

.content {
  p {
    margin-top: 10px;
    margin-left: 10px;
    color: black;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 17px;
  }
}

h4 {
  color: black;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
}

.show-image-master {
  display: flex;
  align-items: center;
  justify-content: center;
}
