<div class="master">

    <div class="title">
        <p>Graph Creation Methods</p>
    </div>

    <div class="content">
        <p style="text-align: center;"> You have two options for creating the graph. </p>
        <p style="margin-top: 10px; font-weight: bold;">Standard method</p>
        <p>This will run standard queries within the Memgraph database. This operation will take
            longer if the .csv file is large.</p>

        <p style="font-weight: bold; margin-top: 30px;">Load CSV method</p>
        <p>This operation will be more suitable if the csv file is large, since it uses the query "LOAD CSV..."</p>
        <p style="color: red;">Warning : </p>
        <p>This operation will copy (temporarily) the .csv file inside the Docker Container which will be specified in
            the next screen. <br>
            The file will be saved in a "/temp" folder and will be correctly deleted once the LOAD operation is
            finished.</p>
    </div>
</div>