<div class="master">
  <p>Ciao</p>
  <button (click)="this.openSidebar(dynamicContent)">Apri Sidebar</button>
</div>

<div
  class="sidebar"
  [ngClass]="{ show: isOpenFilterSidebar }">
  <div class="sidebar-header">
    <h4>New Analysis</h4>
    <i class="bi bi-x-lg"></i>
  </div>
  <p>From here you can add filters and create a new analysis</p>

  <app-s-divider></app-s-divider>

  <div style="margin-top: 20px"></div>

  <!-- Sezione delle tile e pulsante -->
  <div class="master-filters">
    <!-- Ciclo sulle tile -->
    <div
      *ngFor="let tile of tiles"
      class="filter-tile">
      <strong>{{ tile.type }}</strong>
      <p>{{ tile.details }}</p>
    </div>

    <!-- Pulsante grande "+" con bordo a trattini -->
    <button
      class="plus-button"
      (click)="addTile()">
      <i class="bi bi-plus-lg"></i>
    </button>
  </div>

  <!-- Footer con i pulsanti di azione -->
  <div class="master-footer">
    <app-s-button [text]="'Save'"></app-s-button>

    <app-s-spinner-one *ngIf="isLoading"></app-s-spinner-one>

    <app-s-button
      [disabled]="isLoading"
      [text]="'Restore'"
      [color]="'#6c757d'"></app-s-button>
  </div>
</div>

<ng-template #dynamicContent>
  <p>Benvenuto nella Sidebar dinamica!</p>
  <ul>
    <li>Opzione 1</li>
    <li>Opzione 2</li>
    <li>Opzione 3</li>
  </ul>
</ng-template>
