<!--Show the progress bar-->
<mat-progress-bar class="progress-bar-my" mode="indeterminate" *ngIf="isLoadingProgressBar"></mat-progress-bar>

<!--Card for tutorial-->
<div class="master-div" *ngIf="!isTutorialTerminated && !isLoadingProgressBar">
  <mat-card class="center-card">

    <!--Close tutorial-->

    <mat-card-content>
      <mat-stepper [linear]="true" style="margin-top: 25px;">

        <!--1 Step-->
        <mat-step>
          <ng-template matStepLabel class="title-step" style="font-family: 'Times New Roman', Times, serif;">Step
            1
          </ng-template>
          <p class="title-step">Uploading the .csv file</p>

          <p class="inside-text">First, drag the .csv file into drag&drop or choose it directly from your computer.</p>
          <p class="title-warning" style="margin-top: 40px">Warning:</p>
          <p class="inside-text">Only one file can be processed at a time.</p>
          <div class="step-buttons" style="margin-top: 140px;">
            <button mat-button class="step-button" color="standard" (click)="toggleTutorial()">Skip tutorial</button>
            <button mat-button matStepperNext class="step-button" color="primary">Next</button>
          </div>
        </mat-step>

        <!--2 Step-->
        <mat-step>
          <ng-template matStepLabel class="title-step">Step 2</ng-template>
          <p class="title-step">Filter data</p>
          <p class="inside-text">Once the .csv file is uploaded, our tool will parse it and show all the columns present
            in the file. Now you can customize the analysis by selecting only the entities (columns) you want to take
            into account when creating the graph.</p>
          <p class="title-warning" style="margin-top: 30px">Warning:</p>
          <p class="inside-text">Make sure you choose only the entities that are relevant to your analysis, so that you
            get a meaningful graph.</p>
          <div class="step-buttons" style="margin-top: 67px;">
            <button mat-button matStepperPrevious class="step-button">Back</button>
            <button mat-button matStepperNext class="step-button" color="primary">Next</button>
          </div>
        </mat-step>

        <!--3 Step-->
        <mat-step>
          <ng-template matStepLabel class="title-step">Step 3</ng-template>
          <p class="title-step">Graph creation</p>
          <p class="inside-text">After filtering the data, you will get a graph with Nodes, properties, and
            relationships based on your .csv file data.</p>
          <div class="step-buttons" style="margin-top: 230px">
            <button mat-button matStepperPrevious class="step-button">Back</button>
            <button mat-button color="primary" matStepperNext (click)="terminateTutorial()"
                    class="step-buttons">Start
            </button>
          </div>
        </mat-step>

      </mat-stepper>
    </mat-card-content>
  </mat-card>

</div>

<!--Center Card content-->
<div class="center-container" *ngIf="isTutorialTerminated && !isLoadingProgressBar">

  <!--Upload card-->
  <mat-card class="upload-card" *ngIf="isTutorialTerminated && isShowUpload">
    <h2 class="text-font">Upload .csv file</h2>
    <p class="text-font-p">Drag your .csv file containing the event log or choose it directly from your computer by
      clicking on upload</p>
    <ngx-dropzone (change)="onSelectFile($event)">
      <ngx-dropzone-label>
        Upload
      </ngx-dropzone-label>
      <ngx-dropzone-preview *ngFor="let f of files" [removable]="false" (removed)="onRemoveFile(f)">
        <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
      </ngx-dropzone-preview>
    </ngx-dropzone>
    <div class="button-container">
      <button mat-button color="warn" (click)="resetCSVData()" *ngIf="hasSelectedFile" [disabled]="isShowSidebar"
              style="margin-top: 30px;">Delete
      </button>
      <button mat-button color="primary" (click)="parseCSV()" [disabled]="isShowSidebar"
              style="margin-top: 30px;">Done
      </button>
    </div>
  </mat-card>

  <!--Table card-->
  <div *ngIf="isTutorialTerminated && isShowTable">
    <mat-card class="upload-card"
              [ngClass]="{'extend-card': isShowTable, 'move-right' : isShowSidebar}">

      <div class="table-container">
        <div class="table-title">
          <h3>Event log preview</h3>
          <button *ngIf="isShowTable" [disabled]="isShowSidebar" mat-icon-button class="btn-close-card"
                  (click)="toggleTable()">
            <mat-icon color="primary">clear</mat-icon>
          </button>
        </div>

        <div class="table-scroll">
          <table style="margin-top: 8px;" mat-table [dataSource]="dataSource"
                 class="mat-elevation-z8">

            <ng-container *ngFor="let entity of displayedColumns" matColumnDef="{{entity}}">

              <th [ngClass]="{'color-entity' : checkSelectedEntity(entity)}" mat-header-cell
                  *matHeaderCellDef>
                <div class="entity">{{ entity }}</div>
              </th>

              <td mat-cell *matCellDef="let element">{{ element[entity] }}</td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </div>

        <button mat-button color="primary" class="button-table" (click)="showSidebar()" [disabled]="isShowSidebar">
          Load data
        </button>
      </div>
    </mat-card>
  </div>

</div>

<!--Sidebar-->
<div class="sidebar scrollable-sidebar" [ngClass]="{'show-sidebar': isShowSidebar, 'move-right': isShowSidebar}">
  <h2>FILTER DATA</h2>
  <!--<h3 class="text-font" style="margin-bottom: 10px;">Filter data</h3>-->
  <mat-icon color="primary" class="toggle-tutorial" (click)="toggleSidebar()">clear</mat-icon>
  <mat-icon color="primary" class="toggle-tutorial" style="margin-right: 28px" (click)="toggleHelp()"
            matTooltip="Help">help_outline
  </mat-icon>
  <p class="text-font" style="font-size: 15px">Choose the fields that need to be taken.</p>
  <ul class="list-group list-group-light">
    <mat-divider></mat-divider>

    <div class="master-values">
      <div class="entities-container">
        <div>
          <div class="entities-list">
            Entities
          </div>

          <div *ngFor="let check of allFileEntities">
            <mat-checkbox class="example-margin" color="primary" [ngModel]="check.selected"
                          (ngModelChange)="submitEntity(check, $event)">{{ check.name }}
            </mat-checkbox>
          </div>
        </div>

        <div>
          <div class="entities-list properties" style="margin-left: 20px">
            Properties
          </div>

          <div style="margin-left: 20px" *ngFor="let check of allFileValuesSelected">
            <mat-checkbox class="example-margin" color="primary" [ngModel]="check.selected"
                          (ngModelChange)="submitValue(check, $event)">{{ check.name }}
            </mat-checkbox>
          </div>
        </div>
      </div>
    </div>
  </ul>

  <mat-divider></mat-divider>

  <div class="map-information">
    <p class="text-font" style="font-size: 17px; margin-left: 7px">Map the following
      information</p>
    <div class="column-selection" *ngIf="allFileEntities.length > 0">

      <mat-form-field>
        <mat-label>Event id</mat-label>
        <mat-select (selectionChange)="eventIdColumn = $event.value">
          <mat-option *ngFor="let camp of getFilteredValuesColumn()" [value]="camp">
            {{ camp }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field style="margin-left: 20px">
        <mat-label>Timestamp</mat-label>
        <mat-select (selectionChange)="timestampColumn = $event.value">
          <mat-option *ngFor="let camp of getFilteredValuesColumn()" [value]="camp">
            {{ camp }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Activity Name</mat-label>
        <mat-select (selectionChange)="activityNameColumn = $event.value">
          <mat-option *ngFor="let camp of getFilteredValuesColumn()" [value]="camp">
            {{ camp }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <div class="button-sidebar">
    <button mat-button color="primary" (click)="preBuildGraph()">Build</button>
  </div>
</div>

<!--Progress bar-->
<div class="process-div" *ngIf="isLoadingProgressBar">
  <h2 style="font-family: Georgia, 'Times New Roman', Times, serif; font-size: 32px;">BUILDING THE EKG…</h2>
  <h3 style="font-family: Georgia, 'Times New Roman', Times, serif; font-size: 26px;">This operation may take a few
    minutes</h3>
</div>
