// SCSS FOR TUTORIAL
.progress-bar-my {
  position: absolute;
}

.master-div {
  width: 700px;
  height: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.center-card {
  width: 700px;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f6f6f6;
}

mat-stepper {
  background-color: #f6f6f6;
}

.toggle-tutorial {
  position: absolute;
  right: 15px;
  top: 10px;
  cursor: pointer;
}

.title-step {
  color: black;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 21px;
}

.title-warning {
  color: red;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 21px;
}

.inside-text {
  color: black;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 17px;
}

.step-buttons {
  display: flex;
  justify-content: space-between;
}

.step-button {
  margin-left: 10px;
}

.mat-step-buttons {
  margin-right: 10px;
}

// SCSS FOR UPLOAD CARD
.center-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: width 1s, height 1s;
}

.upload-card {
  width: 700px;
  height: 400px;
  padding: 20px;
  background-color: #f6f6f6;
  overflow: hidden;
  transition: left 0.5s;
}

// SCSS FOR TABLE
.upload-card.extend-card {
  width: 1000px;
  height: 700px;
  padding: 10px;
  transition: left 0.5s;
}

.upload-card.move-right {
  margin-right: 400px;
}

.table-container {
  width: 100%;
  height: 100%;
  position: relative;
}

.table-scroll {
  width: 100%;
  height: calc(100% - 50px);
  overflow: auto;
}

.table-title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  font-family: Georgia, 'Times New Roman', Times, serif;

  button {
    position: absolute;
    right: 10px;
  }
}

.color-entity {
  font-size: 17px;
  color: rgb(63, 81, 181);

  .entity {
    padding: 2px;
    border: 1px solid rgb(63, 81, 181);
    border-radius: 5px;
  }
}

.color-element {
  font-size: 17px;
  color: rgb(225, 91, 61);

  .entity {
    padding: 2px;
    border: 1px solid rgb(225, 91, 61);
    border-radius: 5px;
  }
}

.button-table {
  position: absolute;
  right: 8px;
  bottom: 25px;
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

// SCSS FOR UPLOAD SIDEBAR
.sidebar {
  position: fixed;
  width: 500px;
  height: 87vh;
  top: 59px;
  right: -500px;
  transition: right 0.5s;
  background-color: #f6f6f6;
  z-index: 1000;
  padding: 10px;

  h2 {
    font-size: 25px;
    margin-top: 15px;
    font-family: 'Times New Roman', Times, serif;
  }
}

.entities-list {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 35px;
  color: white;
  background-color: rgb(63, 81, 181);
  border: 2px solid white;
  border-radius: 5px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 14px;
}

.entities-list.properties {
  background-color: rgb(225, 91, 61);
}

.entities-container {
  display: flex;
  justify-content: space-between;
}

.entities-container > div {
  width: 100%;
}

.column-selection mat-form-field {
  max-height: 70px;
}

.close-button {
  color: #fff;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  margin-top: 10px;
}

.show-sidebar {
  right: 0;
}

.move-right.show-sidebar {
  right: 0;
}

.scrollable-sidebar {
  overflow: auto;
}

.text-font {
  color: black;
  font-family: 'Times New Roman', Times, serif;
}

.text-font-p {
  font-size: 17px;
  color: black;
  font-family: 'Times New Roman', Times, serif;
}

mat-divider {
  height: 3px;
  margin-top: 5px;
}

.map-information {
  margin-top: 5px;
  background-color: #eeeeee;
  padding: 5px;
  border-radius: 5px;
}

.map-information-tile{
  display: flex;
}

.radio-group-creation{
  .mat-mdc-radio-button ~ .mat-mdc-radio-button {
    margin-left: 16px;
  }

  display: flex;
  justify-content: space-between;
}

.button-sidebar {
  margin-top: 10px;
  right: 10px;
  bottom: 7px;
}

// SCSS FOR DOCKER CONTAINERS
.master-container {
  width: 800px;
  height: 650px;
  margin-right: 200px;

  .title {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: rgb(63, 81, 181);
  }
}

.labelClass {
  font-size: 23px;
  font-family: 'Times New Roman', Times, serif;
}

.container-div {
  display: flex;
  align-items: center;
  overflow: auto;
}

.button-container{
  position: absolute;
  right: 10px;
  bottom: 10px;
}

// SCSS FOR PROCESSING
.process-div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.progress-terminal {
  padding: 20px;
  background-color: #d2d2d2;
  border: 1px solid black;
  border-radius: 5px;
}
