<!-- MASTER DIV -->
<div class="master-div">

  <!-- GRAPH VISUALIZATION DIV-->
  <div class="graph-container" id="myGraphContainer">
    <mat-icon class="back-button-pos" color="primary" (click)="this.handleClickBack()">keyboard_backspace</mat-icon>
    <svg #graphSvg></svg>
    <div class="icon-buttons-container">
      <button mat-icon-button color="primary" aria-label="Example icon button with a menu icon"
        (click)="toggleSidebarSearch()" class="icon-button search-button">
        <mat-icon>search</mat-icon>
      </button>
    </div>
  </div>

  <!---SIDEBAR FOR SEARCH DIV--->
  <div class="sidebar" [ngClass]="{ 'open': isShowSearchSidebar }">

    <mat-icon color="primary" class="close-button" (click)="isShowSearchSidebar = false">clear</mat-icon>

    <div class="right-inside">

      <div class="operation">
        <h2 class="black-color">SEARCH NODES OR LINKS</h2>
        <p style="margin-top: 15px">Searches for nodes or relations based on its properties or id.</p>

        <!--Graph Search-->
        <form (ngSubmit)="graphSearch()">
          <input type="text" class="form-control" name="searchInput" [(ngModel)]="searchQuery" placeholder="Activity name...
                                    " aria-label="Uri" aria-describedby="basic-addon1" style="margin-top: 20px">
        </form>
      </div>

      <div class="search-results" *ngIf="searchQuery.length > 0" style="margin-top: 20px">
        <mat-card *ngFor="let result of searchResults" class="custom-card"
          [ngClass]="{ 'card-selected': this.selectedResult === result }">
          <mat-card-content (click)="selectClassNodeSearched(result)">Node id : {{ result.id }} Name:
            {{ result.ActivityName }}
          </mat-card-content>
        </mat-card>
        <button mat-button color="danger" *ngIf="researched" (click)="closeSearched()" style="margin-top: 20px;">Clear
        </button>
      </div>

    </div>
  </div>

  <!---CARD FOR NODE OR LINK INFORMATION-->
  <mat-card class="toast-card" *ngIf="selectedNode && propertiesSelectedNode && isShowCardProperties">
    <mat-icon color="primary" class="close-button" (click)="closeCardProperties()">clear</mat-icon>
    <p style="font-family: Georgia, 'Times New Roman', Times, serif; font-weight: bold">Description</p>
    <div *ngFor="let property of propertiesSelectedNode">
      <p style="font-family: Georgia, 'Times New Roman', Times, serif;">{{ property[0] }}: {{ property[1] }}
      </p>
    </div>
  </mat-card>

</div>