<div class="master-docker-card">
  <div class="docker-card">
    <!-- Card Title -->
    <div class="docker-card__title">
      <p>Docker Containers</p>
    </div>
    <!--Card description-->
    <div class="description">
      <p>Select your Memgraph Docker Container</p>
    </div>

    <!-- Search Input -->
    <div class="docker-card__search">
      <input
        class="form-control form-control-sm"
        type="text"
        placeholder="Search container"
        [(ngModel)]="searchTerm" />
    </div>

    <!-- Divider -->
    <div class="divider">
      <app-s-divider></app-s-divider>
    </div>

    <div style="height: 15px"></div>

    <!-- Docker Tile List -->
    <div class="docker-card__list">
      <app-docker-tile
        [container]="container"
        *ngFor="let container of this.filteredContainers()"
        (click)="this.exportSelectedContainer(container)"></app-docker-tile>
    </div>
  </div>
</div>
