// ================================
// Region: Main content
// ================================
.progress-bar.indeterminate {
  position: relative;
  animation: progress-indeterminate 2s linear infinite;
  background-color: var(--primary-color);
}

@keyframes progress-indeterminate {
  from {
    left: -34%;
    width: 50%;
  }

  to {
    left: 100%;
    width: 10%;
  }
}
