<!--Main content-->
<div class="master">
  <div class="modal-header">
    <h4 class="modal-title">Frequence filter</h4>
  </div>

  <div class="modal-body">
    <div class="filter-description">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut pharetra sem mi, eget faucibus metus vulputate sit amet</p>
    </div>
    <form
      style="margin-top: 10px"
      (ngSubmit)="this.onSubmit()">
      <!--Select entity-->
      @if (!this.isLoadingEntities && this.allEntities != null && this.allEntities.length > 0) {
        <!-- Select Entity type -->
        <div class="form-group">
          <label
            class="form-group-label"
            for="entityType">
            Select the Entity type
          </label>
          <select
            id="entityType"
            name="entityType"
            class="form-select"
            [(ngModel)]="this.selectedEntityType"
            (ngModelChange)="this.changeSelectedEntityType($event)">
            @for (entityType of this.allEntities; track $index) {
              <option [value]="entityType">
                {{ entityType }}
              </option>
            }
          </select>
        </div>
      }

      <!--Loading status-->
      @if (this.isLoadingEntities || this.isLoadingFrequencies) {
        <div class="loading-entity">
          <sp-spinner></sp-spinner>
        </div>
      }

      <!--Error or no entities-->
      @if (!this.isLoadingEntities && (this.allEntities == null || this.allEntities.length === 0) && this.entityErrorMessage != '') {
        <div class="loading-entity">
          <p style="color: red">{{ this.entityErrorMessage }}</p>
        </div>
      }

      <!--Inputs-->
      @if (
        !this.isLoadingEntities &&
        !this.isLoadingFrequencies &&
        this.allEntities != null &&
        this.allEntities.length > 0 &&
        this.selectedEntityType != '' &&
        this.activityFrequencies.length > 0
      ) {
        <div class="avg-duration">
          <div class="header">
            <span style="padding: 1px 4px; background-color: rgb(236, 236, 236); border: 1px solid #ccc; border-radius: 4px">Activity</span>

            <span style="padding: 1px 4px; background-color: var(--primary-color); border: 1px solid #ccc; border-radius: 4px">
              Occurrences
            </span>
          </div>

          @for (activity of this.activityFrequencies; track $index) {
            <div class="row">
              <p>{{ activity.activity }}</p>
              <p>
                <span>{{ activity.occurrences }}</span>
              </p>
            </div>
          }
        </div>

        <!--Inputs-->
        <div class="input-user">
          <!-- Input operator -->
          <div class="form-group">
            <label
              class="form-group-label"
              for="operator">
              Operator
            </label>
            <select
              id="operator"
              name="operator"
              class="form-select"
              [(ngModel)]="this.selectedOperator">
              @for (operator of this.allOperators; track $index) {
                <option [value]="operator">
                  {{ operator }}
                </option>
              }
            </select>
          </div>

          <!--Input second-->
          <div class="form-group">
            <label
              for="frequency"
              style="color: var(--secondary-color); font-size: 15px">
              Filter by activity frequency
            </label>
            <input
              id="frequency"
              class="form-control form-control-sm"
              name="frequency"
              type="number"
              [(ngModel)]="this.selectedFrequency"
              style="height: 2rem; font-size: 1rem; padding: 0.375rem 0.75rem; line-height: 1.2" />
          </div>
        </div>
      }

      <!-- Buttons -->
      <div class="modal-footer">
        <sp-btn
          [text]="'Close'"
          [color]="'#6c757d'"
          (buttonClick)="this.onClose()"></sp-btn>

        @if (this.selectedOperator !== '' && this.selectedFrequency != null && this.selectedFrequency > 0) {
          <sp-btn
            [text]="'Save'"
            (buttonClick)="this.onSubmit()"></sp-btn>
        }
      </div>
    </form>
  </div>
</div>
