<!--Header-->
<div class="modal-header">
  <h4 class="modal-title">Select Filter</h4>
</div>

<!--Body-->
<div class="modal-body">
  <p>Select one of the filters:</p>
  <ul class="filter-list">
    @for (filter of this.filters; track $index) {
      <li
        class="filter-option"
        (click)="this.onSelectFilter(filter)">
        {{ filter }}
      </li>
    }
  </ul>
</div>

<!--Footer-->
<div class="modal-footer">
  <sp-btn
    [text]="'Close'"
    [color]="'#6c757d'"
    (buttonClick)="this.onModalClose()"></sp-btn>
</div>
