<div class="master">

  <div class="title">
    <p>Class Graph</p>
  </div>

  <div class="content">
    <p> This operation allows you to group nodes with the same filtered properties into Class nodes.
      Then, Class nodes will be created based on the properties of the desired filter.
      This operation will show the new graph, but it will always be available via the arrows in the graph area,
      returning to display the information details page of the normal graph. </p>
  </div>

  <h4>Aggregation example</h4>

  <div class="show-image-master">
    <img ngSrc="../../../assets/aggregation.png" style="margin-top: 10px;" height="347" width="513" alt="">
  </div>
</div>
