@if (this.isVisible) {
  <div class="overlay"></div>
  <div
    class="card"
    [ngClass]="{ show: this.isVisible }"
    [@slideInOut]>
    <!--Header and description-->
    <div class="header">
      <h4 class="card-title">{{ this.title }}</h4>
      <i
        class="bi bi-x-lg"
        (click)="this.isVisible = false"></i>
    </div>
    <p class="message">{{ this.message }}</p>

    <!--Input form for name-->
    <div class="mb-1">
      <label
        class="form-label"
        style="color: var(--secondary-color)"
        for="name">
        {{ this.isForDataset ? 'Dataset name' : 'Analysis name' }}
      </label>
      <input
        id="name"
        class="form-control form-control-sm"
        type="text"
        [(ngModel)]="this.name"
        (input)="this.onInputChange()"
        [ngClass]="{ 'input-error': this.hasError }" />
      @if (this.hasError) {
        <span>
          <p class="error-message">
            {{ this.errorMessage }}
          </p>
        </span>
      }
    </div>

    <!--Input form for description-->
    <div
      class="mb-1"
      style="margin-top: 20px">
      <label
        class="form-label"
        style="color: var(--secondary-color)"
        for="description">
        {{ this.isForDataset ? 'Dataset description (optional)' : 'Aanlysis description (optional)' }}
      </label>
      <textarea
        id="description"
        class="form-control form-control-sm"
        style="max-height: 100px"
        type="text"
        [(ngModel)]="this.description"
        (input)="this.onInputChange()"></textarea>
    </div>

    <!--Process execution toggle-->
    @if (this.isForDataset) {
      <div class="process-execution">
        <div class="mb-1">
          <label
            class="form-label"
            style="color: var(--secondary-color)"
            for="saveProcessExecution">
            Save process and query execution time for this Dataset for in-depth
            <br />
            information
          </label>
          <mat-slide-toggle
            id="saveProcessExecution"
            color="primary"
            class="small-slide-toggle"
            [(ngModel)]="this.saveProcessExecution"></mat-slide-toggle>
        </div>
      </div>
    }

    <!--Footer-->
    <div style="margin-top: 25px">
      <!--Single button-->
      @if (!this.doubleButton) {
        <sp-btn-txt
          [text]="this.primaryButtonText"
          [color]="this.primaryButtonColor"
          (buttonClick)="onClickPrimaryButton()"></sp-btn-txt>
      }

      <!--Double buttons-->
      @if (this.doubleButton) {
        <div class="footer">
          <sp-btn-txt
            [text]="this.primaryButtonText"
            [color]="this.primaryButtonColor"
            (buttonClick)="onClickPrimaryButton()"></sp-btn-txt>
          <sp-btn-txt
            style="margin-left: 25px"
            [text]="this.secondaryButtonText"
            [color]="this.secondaryButtonColor"
            (buttonClick)="onClickSecondaryButton()"></sp-btn-txt>
        </div>
      }
    </div>
  </div>
}
