<!---PROGRESS BAR AND PROCESS---->
<mat-progress-bar mode="indeterminate" *ngIf="showProgressBar"></mat-progress-bar>

<!-- MASTER DIV -->
<div class="master-div">

    <!-- GRAPH VISUALIZATION DIV-->
    <div class="graph-container" id="myGraphContainer">
        <div *ngIf="isShowingClassGraph">
            <button class="back-button" (click)="turnOnStandardGraph()">
                <mat-icon color="primary">arrow_back</mat-icon>
            </button>
        </div>
        <div *ngIf="!isShowingClassGraph && haveClassData == true">
            <button class="back-button" (click)="turnOnClassGraph()">
                <mat-icon color="primary">arrow_forward</mat-icon>
            </button>
        </div>

        <svg #graphSvg></svg>
        <div class="icon-buttons-container">
            <button mat-icon-button color="primary" aria-label="Example icon button with a menu icon"
                (click)="showSideBarSearch = true" class="icon-button search-button" style="margin-right: 30px;">
                <mat-icon>search</mat-icon>
            </button>
            <button mat-icon-button color="primary" aria-label="Example icon button with a menu icon"
                (click)="showSideBarMenu = true" class="icon-button menu-button">
                <mat-icon>menu</mat-icon>
            </button>
        </div>
    </div>


    <!---SIDEBAR FOR SEARCH DIV--->
    <div class="right" *ngIf="showSideBarSearch == true">
        <button mat-button class="close-button" (click)="showSideBarSearch = false">
            <mat-icon>close</mat-icon>
        </button>

        <div class="right-inside">

            <div class="operation">
                <h2 class="black-color">SEARCH NODES OR LINKS</h2>
                <p style="margin-top: 15px">Searches for nodes or relations based on its properties or id.</p>

                <!--Standard Graph Search-->
                <form (ngSubmit)="standardGraphSearch()" #searchForm="ngForm" *ngIf="!isShowingClassGraph">
                    <input type="text" class="form-control" name="searchInput" [(ngModel)]="searchQuery" placeholder="Activity name...
                                    " aria-label="Uri" aria-describedby="basic-addon1" style="margin-top: 20px">
                </form>

                <!--Standard Graph Search-->
                <form (ngSubmit)="classGraphSearch()" #searchForm="ngForm" *ngIf="isShowingClassGraph">
                    <input type="text" class="form-control" name="searchInput" [(ngModel)]="searchQuery" placeholder="Activity name...
                                    " aria-label="Uri" aria-describedby="basic-addon1" style="margin-top: 20px">
                </form>
            </div>


            <div class="search-results" *ngIf="searchQuery.length > 0 && isShowingClassGraph == false"
                style="margin-top: 20px">
                <mat-card *ngFor="let result of searchResults" class="custom-card">
                    <mat-card-content *ngIf="result.EventID != null" (click)="selectStandardNodeSearched(result)">Event
                        : {{
                        result.EventID }}</mat-card-content>
                    <mat-card-content *ngIf="result.EventID == null" (click)="selectStandardNodeSearched(result)">Entity
                        :
                        {{
                        result.label }}</mat-card-content>
                </mat-card>
                <button mat-button color="danger" *ngIf="researched" (click)="closeSearched()">Clear</button>
            </div>

            <div class="search-results" *ngIf="searchQuery.length > 0 && isShowingClassGraph == true"
                style="margin-top: 20px">
                <mat-card *ngFor="let result of searchResults" class="custom-card">
                    <mat-card-content (click)="selectClassNodeSearched(result)">Id : {{result.id }} Name:
                        {{result.ActivityName}}</mat-card-content>
                </mat-card>
                <button mat-button color="danger" *ngIf="researched" (click)="closeSearched()">Clear</button>
            </div>

        </div>
    </div>


    <!---SIDEBAR FOR MENU OPERATION DIV --->
    <div class="right" *ngIf="showSideBarMenu == true">
        <button mat-button class="close-button" (click)="showSideBarMenu = false">
            <mat-icon>close</mat-icon>
        </button>
        <div class="right-inside">

            <div class="operation">
                <h2 class="black-color">OPERATIONS</h2>

                <p style="margin-top: 10px;">
                    A list of operations available for this section</p>

                <!-- GROUP BY CLASSES OPERATION -->
                <div *ngIf="isShowingClassGraph == false">
                    <h3 style="margin-top: 30px;" class="black-color">Group by classes</h3>
                    <p>This operation allows you to group nodes into chosen classes.</p>
                    <button mat-stroked-button color="primary" class="delete-button"
                        (click)="openGroupSidebar()">Group</button>
                </div>
            </div>

            <!-- EXPORT GRAPH OPERATION -->
            <div class="operation">
                <h3 style="margin-top: 30px;" class="black-color">Export Graph</h3>
                <p>This operation allows you to export and save the graph data, and then import it later.</p>
                <button mat-stroked-button color="primary" class="delete-button" (click)="exportSvg()">Export</button>
            </div>

            <!-- DELETE GRAPH OPERATION -->
            <div class="operation">
                <h3 style="margin-top: 30px;" class="black-color">Delete Graph</h3>
                <p>This operation will permanently delete the graph and data within the database.</p>
                <button mat-stroked-button color="warn" class="delete-button" (click)="openDialogDelete()">Delete
                    Graph</button>
            </div>

        </div>
    </div>


    <!--SIDEBAR FOR GROUP CLASSES OPERATION-->
    <div class="group-sidebar" *ngIf="showGroupSidebar && showSideBarMenu && isShowingClassGraph == false">
        <mat-icon class="close-icon" (click)="closeGroupSidebar()">close</mat-icon>
        <mat-icon class="close-icon" style="margin-right: 30px;" (click)="openDialogHelpClass()">help_outline</mat-icon>

        <div class="operation">
            <div class="operaton-group">
                <h2 style="display: inline; color: black;">GROUP BY CLASS</h2>
                <p style="margin-top: 15px;">This operation allows you to group nodes into classes. Choose the
                    previously filtered properties that
                    will be taken into account when creating Class nodes.</p>
                <mat-divider></mat-divider>
                <div style="margin-top: 5px;"></div>
                <li *ngFor="let entity of entitiesList" class="list-group-item">
                    <span>{{ entity }}</span>
                    <mat-slide-toggle (change)="toggleSelection(entity)" class="toggle-right"
                        color="primary"></mat-slide-toggle>
                </li>
                <div style="margin-top: 5px;"></div>
                <mat-divider></mat-divider>
            </div>
        </div>

        <div style="position: absolute; bottom: 10px; right: 10px;">
            <button mat-stroked-button color="primary" (click)="buildClassGraph()">Build</button>
        </div>

    </div>


    <!---CARD FOR NODE OR LINK INFORMATION-->
    <mat-card class="toast-card" *ngIf="selectedNode && propertiesSelectedNode && showCardPropertis">
        <button mat-button class="close-button" (click)="closeCardProperties()">
            <mat-icon>close</mat-icon>
        </button>
        <h3 style="font-family: Georgia, 'Times New Roman', Times, serif;">Description</h3>
        <div *ngFor="let property of propertiesSelectedNode">
            <p style="font-family: Georgia, 'Times New Roman', Times, serif;">{{ property[0] }}: {{ property[1] }}
            </p>
        </div>
    </mat-card>

</div>