<div class="master">
  <div class="layout">
    <!--Background-->
    <div class="background"></div>

    <div class="content">
      <h3 style="color: black">Welcome to SOuP</h3>
      <p>
        SOuP is a tool dedicated to event knowledge graphs manipulation and analysis!
        <br />
        Explore the potential of our tool to conduct object-centric process mining analysis and simplify
        <br />
        analysis of your systems.
      </p>
    </div>

    <div class="btn-container">
      <sp-btn
        [text]="'SOuP Documentation'"
        (buttonClick)="this.onGoDocumentation()"></sp-btn>
    </div>
  </div>
</div>
