<div class="master">
  <div class="layout">
    <div class="background"></div>

    <div>
      <h3 style="color: black">Welcome to SOUP</h3>
      <p>
        SOUP is a tool designed for the manipulation and analysis of Event Knowledge Graphs (EKGs).  
        <br />
        Unlock the power of object-centric process mining and simplify the analysis of your systems — all in one intuitive platform.        
      </p>
    </div>

    <div class="btn-container">
      <sp-btn
        [text]="'SOUP Documentation'"
        (buttonClick)="this.onGoDocumentation()"></sp-btn>
    </div>
  </div>
</div>
