<div class="master">
  <div class="layout">
    <!--Background-->
    <div class="background"></div>

    <div class="content">
      <h3>Welcome to SOuP</h3>
      <p>
        SOuP is a tool dedicated to event knowledge graphs manipulation and analysis!
        <br />
        Explore the potential of our tool to conduct object-centric process mining analysis and simplify
        <br />
        analysis of your systems.
      </p>
    </div>
  </div>

  <!--Cards-->
  <div class="master-card">
    <!--First card-->
    <a
      class="custom-card"
      style="margin-left: 100px"
      href="/new-dataset">
      <h3 class="h3-card">New Dataset</h3>
      <p class="p-card">Upload your .csv file and create new Dataset</p>
      <div
        class="go-corner"
        href="/new-dataset">
        <div class="go-arrow">→</div>
      </div>
    </a>

    <!--Second card-->
    <a
      class="custom-card"
      style="margin-left: 40px"
      href="/datasets">
      <h3 class="h3-card">Manage Datasets</h3>
      <p class="p-card">Retrieve an already existing dataset, study, update and analyze it</p>
      <div
        class="go-corner"
        href="/retrieve-dataset">
        <div class="go-arrow">→</div>
      </div>
    </a>
  </div>
</div>
