// ================================
// Region: Master layout
// ================================
.master {
  width: 100%;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
}

.background {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background-image: url('/images/welcome.png');
  background-size: cover;
  background-position: center;
  opacity: 0.4;
  z-index: -1;
}

h3 {
  font-weight: bold;
}

p {
  margin-top: 30px;
  font-size: 20px;
}

// ================================
// Region: Cards layout
// ================================
.master-card {
  display: flex;
  align-items: center;
  justify-content: center;
}

.go-corner {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 32px;
  height: 32px;
  overflow: hidden;
  top: 0;
  right: 0;
  background-color: #ffac1c;
  border-radius: 0 4px 0 32px;
}

.go-arrow {
  margin-top: -4px;
  margin-right: -4px;
  color: white;
  font-family: courier, sans;
}

.h3-card {
  color: #262626;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  margin-bottom: 4px;
}

.p-card {
  font-size: 17px;
  font-weight: 400;
  line-height: 20px;
  color: #666666;

  &.small {
    font-size: 14px;
  }
}

.custom-card {
  display: block;
  position: relative;
  max-width: 300px;
  background-color: #f1f1f1;
  border-radius: 4px;
  padding: 32px 24px;
  margin: 12px;
  text-decoration: none;
  z-index: 0;
  overflow: hidden;

  &:before {
    content: '';
    position: absolute;
    z-index: -1;
    top: -16px;
    right: -16px;
    background-color: #ffac1c;
    height: 50px;
    width: 50px;
    border-radius: 32px;
    transform: scale(1);
    transform-origin: 50% 50%;
    transition: transform 0.25s ease-out;
  }

  &:hover:before {
    transform: scale(21);
  }
}

.custom-card:hover {
  p {
    transition: all 0.3s ease-out;
    color: rgba(255, 255, 255, 0.844);
  }

  h3 {
    transition: all 0.3s ease-out;
    color: #ffffff;
  }
}
