.master-card-detail {
    width: 830px;
    height: 650px;
}

.master-card {
    height: 100%;
    width: 100%;
}

.card-title-background {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e2e2e2;
    height: 45px;
}

.close-button {
    position: absolute;
    top: 0px;
    right: 2px;
}

.card-content {
    text-align: center;

    textarea {
        min-height: 300px;
        max-height: 470px;
        background-color: #f0f0f0;
    }
}

.text-area-json {
    width: 100%;
    height: 90%;
    margin-top: 10px;
}

.highlight {
    background-color: yellow;
}