<!--GRID CARDS-->
<div class="container-cards" *ngIf="!showSpecificCard && showCards">
    <div class="master-cards">

        <!--Card for Event nodes-->
        <app-card-detail [cardType]="'nodes'" [titleCard]="'Event Nodes'" [numberOfData]="10"></app-card-detail>

        <!--Card for Entity nodes-->
        <app-card-detail [cardType]="'nodes'" [titleCard]="'Entity Nodes'" [numberOfData]="10"></app-card-detail>

        <!--Card for :CORR rel-->
        <app-card-detail [cardType]="'relationships'" [titleCard]="':CORR Relationships'"
            [numberOfData]="10"></app-card-detail>

        <!--Card for :DF rel-->
        <app-card-detail [cardType]="'relationships'" [titleCard]="':DF Relationships'"
            [numberOfData]="10"></app-card-detail>

    </div>
</div>

<div class="container-master-card" *ngIf="!showCards && showSpecificCard">
    <app-master-card-detail [title]="'Event Nodes'" [description]="'Generated 50 event nodes'"
        [jsonData]="jsonData" (closeCardEmit)="closeMasterCard($event)"></app-master-card-detail>
</div>