// ================================
// Region: Main content
// ================================
.master {
  width: 100%;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

// ================================
// Region: Layout body content
// ================================
.dataset-content {
  margin-right: 430px;
  width: 1450px;
  height: 86vh;
  background-color: #e9e9e9;
  padding: 30px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
  overflow: auto;
}

.dataset-name {
  margin-bottom: 20px;
  font-family: 'Times New Roman', Times, serif;
  color: #333;
  font-size: 24px;
  text-align: center;
}

.content {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 30px;
  flex-wrap: wrap;
}

.info {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  width: 45%;
  min-width: 300px;
  height: 280px;
}

.info-title h5 {
  font-size: 18px;
  margin-bottom: 10px;
  color: #333;
  font-weight: bold;
}

.info p {
  font-size: 16px;
  margin: 8px 0;
  color: #555;
}

.bold {
  font-weight: bold;
  color: var(--primary-color);
}

.bold-two {
  font-weight: bold;
  color: green;
}

.graphs {
  width: 45%;
  min-width: 280px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.master-pie canvas {
  width: 100%;
  height: 100%;
  max-width: 300px;
  max-height: 280px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
  .content {
    flex-direction: column;
    align-items: center;
  }

  .info,
  .graphs {
    width: 80%;
  }

  .dataset-name {
    font-size: 20px;
  }
}

// ================================
// Region: Overlay sidebar open
// ================================
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 94vh;
  background-color: rgba(0, 0, 0, 0.131);
  z-index: 999;
  display: block;
}

// ================================
// Region: New Analysis Sidebar content
// ================================
.master-filters {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 10px;
}

.filter-tile {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eaeaea;
  border-radius: 7px;
  font-size: 18px;
  font-weight: bold;
  color: #333;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.plus-button {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  color: #666;
  font-size: 24px;
  font-weight: bold;
  border: 2px dashed #666;
  border-radius: 7px;
  cursor: pointer;
  transition: all 0.3s;
}

.plus-button:hover {
  background-color: rgba(0, 0, 0, 0.1);
  color: black;
  border-color: black;
}

.plus-button i {
  font-size: 32px;
}

// ================================
// Region: Aggregate sidebar content
// ================================
.list-group-item {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  background-color: #e5e5e5;
  border-radius: 5px;
  padding-right: 5px;
  padding-left: 5px;

  .group {
    display: flex;
    align-items: center;
    justify-content: center;

    mat-icon {
      color: #c4a805;
    }

    mat-slide-toggle {
      margin-left: 10px;
      transform: scale(0.6);
    }
  }
}

.master-footer {
  display: flex;
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.master-footer app-s-button,
app-sp-spinner-one {
  margin-right: 5px;
}

.master-footer app-s-button:last-child {
  margin-right: 0;
}

.warning {
  p {
    color: #ff0000;
  }
}

// ================================
// Region: Processing graph
// ================================
.process-div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  h3 {
    font-size: 28px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
}

.progress-bar {
  width: 100%;
  height: 40px;
  background-color: red;
}
