<div class="home-page">
  <div class="background"></div>
  <div class="content">
    <div class="master-div">
      <h1><strong>Welcome to your Event Knowledge Graph Generator</strong></h1>
    </div>
    <p>
      Tool dedicated to event knowledge graphs manipulation and analysis! <br>
      Explore the potential of our tool to conduct object-centric process mining analysis and simplify <br>
      analysis of your systems.</p>
    <div class="card-container">
      <div class="card" (click)="onStartClick()">
        <h2 style="margin-bottom: 10px">Upload CSV</h2>
        <p>Upload your .csv file and start exploring your data with our interactive graph.</p>
      </div>
      <div class="card" (click)="onRetrieveClick()">
        <h2 style="margin-bottom: 10px">Retrieve Data</h2>
        <p>If you already have the data and want to skip the Graph creation part, retrieve it here!</p>
      </div>
    </div>
  </div>
</div>