<!--Main content-->
<div class="modal-header">
  <h4 class="modal-title">Performance filter</h4>
</div>
<div class="modal-body">
  <form (ngSubmit)="this.onSubmit()">
    <!-- Start activity name -->
    <div class="form-group">
      <label
        for="startActivity"
        style="color: var(--secondary-color); font-size: 15px">
        Start Activity
      </label>
      <select
        id="startActivity"
        class="form-select"
        name="startActivity"
        [(ngModel)]="this.startActivityModel">
        <option
          *ngFor="let camp of this.getFilteredValuesColumn()"
          [value]="camp">
          {{ camp }}
        </option>
      </select>
    </div>

    <!-- End activity name -->
    <div class="form-group">
      <label
        for="endActivity"
        style="color: var(--secondary-color); font-size: 15px">
        End Activity
      </label>
      <select
        id="endActivity"
        class="form-select"
        name="endActivity"
        [(ngModel)]="this.endActivityName">
        <option
          *ngFor="let camp of this.getFilteredValuesColumn()"
          [value]="camp">
          {{ camp }}
        </option>
      </select>
    </div>

    <!--Seconds-->
    <div class="form-group">
      <label
        for="seconds"
        style="color: var(--secondary-color); font-size: 15px">
        Seconds
      </label>
      <input
        class="form-control form-control-sm"
        id="seconds"
        type="number"
        name="seconds"
        [(ngModel)]="this.seconds"
        style="height: 2rem; font-size: 1rem; padding: 0.375rem 0.75rem; line-height: 1.2" />
    </div>

    <!-- Buttons -->
    <div class="modal-footer">
      <sp-btn
        [text]="'Close'"
        [color]="'#6c757d'"
        (buttonClick)="this.onClose()"></sp-btn>
      <sp-btn
        [text]="'Save'"
        (buttonClick)="this.onSubmit()"></sp-btn>
    </div>
  </form>
</div>
