// ================================
// Region: Main content
// ================================
.master {
  width: 100%;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

// ================================
// Region: Pie chart
// ================================
.master-pie {
  width: 400px;
  height: 400px;
  margin-bottom: 250px;
}

// ================================
// Region: Bar chart
// ================================
.master-bar {
  margin-top: 50px;
  margin-left: 100px;
  width: 600px;
  height: 600px;
}

// ================================
// Region: Line chart
// ================================
.master-line {
  margin-top: 50px;
  margin-left: 100px;
  width: 600px;
  height: 600px;
}
