<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="img-brand">
      <a class="navbar-brand" href="#">
        <img ngSrc="./favicon.ico" width="32" height="32" alt="">
      </a>
    </div>
    <span class="navbar-brand" style="color: black">Easy Knowledge Graph</span>
    <ul class="nav navbar-nav">
      <li><a routerLink="/welcome" routerLinkActive="active">Home</a></li>
      <li><a routerLink="/start" routerLinkActive="active">Upload csv</a></li>
    </ul>
  </div>
</nav>
