<div class="flip-card">
    <div class="flip-card-inner">
        <div class="flip-card-front">
            <div class="title">
                <p style="margin-top: 3px;">{{this.card?.title}}</p>
            </div>
            <div class="card-content-description">
                <p>{{this.card?.description}}</p>
            </div>
        </div>
        <div class="flip-card-back">
            <div class="card-content-description-back">
                <p>Inside your Memgraph database, they have been generated</p>
                <p style="font-weight: bold;">{{this.card?.dataNumber}}</p>
                <p>{{this.card?.type}} nodes</p>
                <button *ngIf="!this.isLoading" class="back-button" (click)="this.downloadJson()">Download JSON</button>
                <app-spinner *ngIf="this.isLoading" class="spinning"></app-spinner>
            </div>
        </div>
    </div>
</div>