// ================================
// Region: Main content
// ================================
.master {
  width: 700px;
  background-color: white;
}
.modal-header {
  background-color: #f8f9fa;
  border-bottom: 1px solid #dee2e6;
  height: 50px;
}

.modal-body {
  padding: 20px;
}

.form-group {
  margin-bottom: 20px;
}

ngb-timepicker {
  flex: 0;
  min-width: 200px;
}

.input-container {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.input-wrapper {
  display: flex;
  align-items: center;
  gap: 5px;
  flex: 1;
}

input.form-control {
  flex: 1;
  height: 36px;
  border-radius: 5px;
  border: 1px solid #ced4da;
  padding: 10px 12px;
  font-size: 1.2rem;
  width: 100%;
}

.calendar-btn {
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: 5px;
  padding: 4px 8px;
  font-size: 1.2rem;
  line-height: 1.2;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease;
}

.calendar-btn:hover {
  background-color: #f1f1f1;
}

.modal-footer {
  height: 40px;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}
