<!--Main content-->
<div class="modal-header">
  <h4 class="modal-title">Select Date Range</h4>
</div>
<div class="modal-body">
  <form (ngSubmit)="this.onSubmit()">
    <!-- Start date -->
    <div class="form-group">
      <label
        for="startDate"
        style="color: var(--secondary-color); font-size: 15px">
        Start Date
      </label>
      <div class="input-container">
        <input
          type="text"
          id="startDate"
          class="form-control"
          ngbDatepicker
          #startDate="ngbDatepicker"
          [(ngModel)]="startDateModel"
          name="startDate"
          required
          (dateSelect)="this.onDateSelect('start', $event)" />
        <button
          class="calendar-btn"
          (click)="startDate.toggle()"
          type="button">
          📅
        </button>
      </div>
    </div>

    <!-- End date -->
    <div class="form-group">
      <label
        for="endDate"
        style="color: var(--secondary-color); font-size: 15px">
        End Date
      </label>
      <div class="input-container">
        <input
          type="text"
          id="endDate"
          class="form-control"
          ngbDatepicker
          #endDate="ngbDatepicker"
          [(ngModel)]="endDateModel"
          name="endDate"
          required
          (dateSelect)="this.onDateSelect('end', $event)" />
        <button
          class="calendar-btn"
          (click)="endDate.toggle()"
          type="button">
          📅
        </button>
      </div>
    </div>

    <!-- Buttons -->
    <div class="modal-footer">
      <sp-btn
        [text]="'Close'"
        [color]="'#6c757d'"
        (buttonClick)="this.onClose()"></sp-btn>
      <sp-btn
        [text]="'Save'"
        (buttonClick)="onSubmit()"></sp-btn>
    </div>
  </form>
</div>
