// ================================
// Region: Main content
// ================================
.master {
  width: 700px;
  background-color: white;
  border-radius: 8px;
  box-sizing: border-box;
}

.modal-header {
  background-color: #f8f9fa;
  border-bottom: 1px solid #dee2e6;
  height: 50px;
}

.modal-body {
  padding: 20px;
}

.filter-description {
  display: flex;
  padding: 5px;
  border-radius: 10px;
  background-color: rgb(233, 233, 233);
}

.form-group {
  margin-bottom: 20px;
}

.form-group-label {
  color: var(--secondary-color);
  font-size: 15px;
  position: absolute;
}

ngb-timepicker {
  flex: 0;
  min-width: 200px;
}

.input-container {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.input-wrapper {
  display: flex;
  align-items: center;
  gap: 5px;
  flex: 1;
}

input.form-control {
  flex: 1;
  height: 36px;
  border-radius: 5px;
  border: 1px solid #ced4da;
  padding: 10px 12px;
  font-size: 1.2rem;
  width: 100%;
  font-size: 1rem;
  color: var(--secondary-color);
  font-family: 'Times New Roman', Times, serif;
}

.calendar-btn {
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: 5px;
  padding: 4px 8px;
  font-size: 1.2rem;
  line-height: 1.2;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease;
}

.calendar-btn:hover {
  background-color: #f1f1f1;
}

:host ::ng-deep ngb-timepicker {
  font-family: 'Arial', sans-serif;
  font-size: 1.2rem;
}

:host ::ng-deep ngb-timepicker input {
  font-family: 'Times New Roman', Times, serif;
  font-size: 1rem;
  text-align: center;
  color: var(--secondary-color);
  width: 3rem;
}

:host ::ng-deep ngb-timepicker .btn-link {
  color: var(--secondary-color);
  font-size: 1.2rem;
}

:host ::ng-deep ngb-timepicker .btn-link:hover {
  color: var(--primary-color);
}

.modal-footer {
  height: 40px;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}
