<mat-card
  class="docker-tile"
  (mouseenter)="this.onMouseEnter()"
  (mouseleave)="this.onMouseLeave()">
  <mat-progress-bar
    class="progress-bar-my"
    mode="indeterminate"
    style="margin-bottom: 3px"
    *ngIf="this.isLoading"></mat-progress-bar>
  <div class="tile-row">
    <div class="tile-title">
      <p style="margin-left: 5px">Container name :</p>
      <p class="value">{{ this.container?.name }}</p>
    </div>
    <div class="icon-container">
      <div class="additional-text">
        <div
          class="container-status"
          *ngIf="this.container?.status">
          <p style="color: green; margin-left: 4px">Running</p>
          <mat-progress-bar
            mode="indeterminate"
            style="width: 60px"></mat-progress-bar>
        </div>
        <p
          *ngIf="!this.container?.status"
          style="color: red; margin-right: 20px">
          exited
        </p>
      </div>

      <sp-btn-txt
        *ngIf="this.container?.status"
        class="choice-button"
        (buttonClick)="this.choiceContainer()"></sp-btn-txt>
    </div>
  </div>
  <div
    class="expanded-content"
    *ngIf="isHovered">
    <div class="tile-title">
      <p>Container Image :</p>
      <p class="value">{{ this.container?.image }}</p>
    </div>
    <div
      class="tile-title"
      style="margin-top: 5px">
      <p>Container Id :</p>
      <p class="value">{{ this.container?.id }}</p>
    </div>
    <div
      class="actions"
      style="margin-top: 5px">
      <div
        *ngIf="this.container?.status && !this.isLoading"
        style="margin-top: 5px">
        <div class="button-action">
          <sp-btn-txt
            [text]="'Stop'"
            color="#FF0000"
            (buttonClick)="this.stopContainer()"></sp-btn-txt>
          <sp-btn-txt [text]="'Continue'"></sp-btn-txt>
        </div>
      </div>
      <div
        *ngIf="!this.container?.status && !this.isLoading"
        style="margin-top: 5px">
        <div class="button-action">
          <sp-btn-txt
            [text]="'Start'"
            (buttonClick)="this.startContainer()"></sp-btn-txt>
        </div>
      </div>
    </div>
  </div>
</mat-card>
