.docker-tile {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  width: calc(100% - 20px);
  padding: 5px;
  transition: background-color 0.3s ease;
  box-sizing: border-box;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 5px;
}

.docker-tile:hover {
  background-color: rgb(238, 238, 238);
}

.tile-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.3s ease;
}

.tile-row:hover {
  background-color: rgb(238, 238, 238);
}

.tile-title {
  display: flex;
  align-items: center;
  margin-left: 5px;
  font-size: 14px;
}

.tile-title,
.tile-title {
  margin: 0;
  line-height: 1.5;
}

.tile-title:hover {
  background-color: rgb(238, 238, 238);
}

.icon-container {
  display: flex;
  align-items: center;
}

.additional-text {
  margin-right: 10px;
}

.choice-button {
  margin-left: 10px;
}

.expanded-content {
  display: none;
  padding: 5px;
  transition: max-height 0.5s ease;
}

.docker-tile:hover .expanded-content {
  display: block;
  max-height: 100px;
}

.container-status {
  align-items: center;
  justify-content: center;
}

p {
  font-family: 'Times New Roman', Times, serif;
  margin: 0;
}

.value {
  margin-left: 10px;
  font-weight: bold;
}

.title {
  font-weight: bold;
}

.exited {
  color: red;
}

mat-card:hover {
  background-color: rgb(238, 238, 238);
}

.actions {
  height: 100px;
  width: 100%;
}

.button-action {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 95%;
  bottom: 5px;
  left: 5px;
}

.button-action-spinner {
  height: 30px;
  width: 30px;
}
