/* You can add global styles to this file, and also import other style files */
:root {
  --primary-color: #ffac1c;
  --secondary-color: #666;
}

html,
body {
  height: 100%;
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;

  h2,
  h3,
  h4,
  h5,
  p {
    color: var(--secondary-color);
    font-family: 'Times New Roman', Times, serif;
  }
}
