<mat-card class="master-card" [ngClass]="{'expanded': showDataset}">
  <mat-card-title class="title-card">
    <h3 *ngIf="!showDataset">Retrieve graph information</h3>
    <h3 *ngIf="showDataset">List of Dataset</h3>
    <mat-icon *ngIf="!showDataset" color="primary" class="icon-operation" [mat-dialog-close]="true">clear</mat-icon>
    <mat-icon *ngIf="showDataset" color="primary" class="icon-operation" (click)="showDataset = false">clear
    </mat-icon>
  </mat-card-title>

  <mat-card-content class="mat-card-content-standard" *ngIf="!isShowingForm && !showDataset">
    <p>This operation allows you to skip the graph creation phase, <br>
      if nodes and relationships are present within the Database.</p>

    <p>Specify which operation to choose</p>

    <div class="button-operation">
      <button mat-raised-button color="primary" (click)="retrieveLocalInformation()">Local
      </button>
      <button mat-raised-button color="primary" (click)="retrieveCloudInformationHandle()">Cloud</button>
    </div>
  </mat-card-content>

  <mat-card-content class="mat-card-list" *ngIf="!isShowingForm && showDataset">

    <form [formGroup]="form!">
      <mat-selection-list #shoesList [formControl]="datasetControl" name="shoes" [multiple]="false"
        (selectionChange)="onSelectionChange($event)">
        <mat-list-option *ngFor="let dataset of datasets" [value]="dataset.value">{{ dataset.name }}</mat-list-option>
      </mat-selection-list>
    </form>

  </mat-card-content>
</mat-card>