<!---PROGRESS BAR---->
<mat-progress-bar mode="indeterminate" *ngIf="isLoadingProgressBar"></mat-progress-bar>


<!---CARD FOR TUTORIAL--->
<div class="master-div" *ngIf="isTerminate == false && isLoadingProgressBar == false">
    <mat-card class="center-card">
        <mat-card-content>
            <mat-stepper [linear]="true" #stepper>

                <!--First Step-->
                <mat-step>
                    <ng-template matStepLabel class="title-step">Step1</ng-template>
                    <p class="title-step">Uploading the .csv file</p>
                    <p class="inside-text">First, drag the .csv file int drag&drop
                        or choose it directly from your computer.</p>
                    <p class="title-warning" style="margin-top: 40px">Warning:</p>
                    <p class="inside-text"> Only one file can be processed at a
                        time.</p>
                    <div>
                        <button mat-button matStepperNext color="primary" class="step-buttons">Next</button>
                    </div>
                </mat-step>

                <!--Second Step-->
                <mat-step>
                    <ng-template matStepLabel>Step 2</ng-template>
                    <p class="title-step">Filter data</p>
                    <p class="inside-text">Once the .csv file is uploaded, our tool will parse it and
                        show all the columns present in the file.
                        Now you can customize the analysis by selecting only the entities (columns) you want
                        to take into account when creating the graph.</p>
                    <p class="title-warning" style="margin-top: 30px">Warning:</p>

                    <p class="inside-text">Make sure you choose only the entities that are relevant to your analysis, so
                        that you
                        get a meaningful
                        graph.</p>
                    <div>
                        <button mat-button matStepperPrevious class="step-buttons"
                            style="margin-right: 70px;">Back</button>
                        <button mat-button color="primary" matStepperNext class="step-buttons">Next</button>
                    </div>
                </mat-step>

                <!--Third Step-->
                <mat-step>
                    <ng-template matStepLabel>Step 3</ng-template>
                    <p class="title-step">Graph creation</p>
                    <p class="inside-text">After filtering the data, you will get a graph with Nodes, properties and
                        relationships
                        based on your .csv file data.</p>
                    <div class="step-buttons">
                        <button mat-button matStepperPrevious class="step-buttons"
                            style="margin-right: 70px;">Back</button>
                        <button mat-button (click)="isTerminate = true" color="primary"
                            class="step-buttons">Start</button>
                    </div>
                </mat-step>

            </mat-stepper>
        </mat-card-content>
    </mat-card>
</div>


<!----CARD FOR CONNECTION--------------->
<div class="master-div-form">
    <mat-card class="center-card-form">

        <p class="title-card">Connect to your Neo4j database</p>
        <p class="inside-text">Enter your information</p>

        <form [formGroup]="connectionForm">
            <div class="input-group mb-3 short-input">
                <input type="text" class="form-control" placeholder="Uri" aria-label="Uri"
                    aria-describedby="basic-addon1" formControlName="uri">
            </div>

            <div class="input-group mb-3 short-input">
                <input type="text" class="form-control" placeholder="InstanceId" aria-label="Instance Id"
                    aria-describedby="basic-addon2" formControlName="instanceId">
            </div>

            <div class="input-group mb-3 short-input">
                <input type="text" class="form-control" placeholder="Instance Name" aria-label="Instance Name"
                    aria-describedby="basic-addon2" formControlName="instanceName">
            </div>

            <p class="inside-text">Enter your credential </p>

            <div class="input-group mb-3 short-input">
                <input type="text" class="form-control" placeholder="Username" aria-label="Username"
                    aria-describedby="basic-addon2" formControlName="username">
            </div>

            <div class="input-group mb-3 short-input">
                <input type="text" class="form-control" placeholder="Password" aria-label="Password"
                    aria-describedby="basic-addon2" formControlName="password">
            </div>
        </form>

        <div class="button-container" *ngIf="connectionForm">
            <button mat-button color="warn" (click)="clearInput()">Clear</button>
            <button mat-button color="primary" (click)="connect()" [disabled]="connectionForm.invalid">Connect</button>
        </div>

    </mat-card>
</div>


<!----
    WORKING: 
    <div class="process-div" *ngIf="isLoadingProgressBar">
    <h2 style="font-family: Georgia, 'Times New Roman', Times, serif; font-size: 32px;">PROCESS...</h2>
</div>
-->