<mat-card class="master-card">
    <mat-card-header class="card-title-background">
        <mat-card-title>
            <p>{{title}}</p>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content class="card-content">
        <p>Created {{numer}} {{cardType}}</p>
    </mat-card-content>
    <mat-card-actions class="button-cards">
        <button mat-icon-button color="primary" aria-label="Example icon button with a home icon">
            <mat-icon>zoom_in</mat-icon>
        </button>
    </mat-card-actions>
</mat-card>