.center-card {
    width: 700px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-step {
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 21px;
}

.title-warning {
    color: red;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 21px;
}

.inside-text {
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 17px;
}

.step-buttons {
    display: flex;
    justify-content: flex-end;
}

.step-button {
    margin-left: 10px;
}

.mat-step-buttons {
    margin-right: 10px;
}