<h1 mat-dialog-title style="font-family: 'Times New Roman', Times, serif; font-weight: 25px;">Class Graph</h1>
<div mat-dialog-content>
    <p>This operation allows you to group nodes with the same filtered properties into Class nodes.<br> 
        Then, Class nodes will be created based on the filtering properties you want. <br>
        This operation will show the new graph, but it will always be available through the arrows placed in the graph area, <br>
        go back to view the previously created graph</p>
</div>
<div mat-dialog-actions>
    <button mat-button color="primary" [mat-dialog-close]="false">Done</button>
</div>