<mat-card class="master-container">
  <div class="title">
    <p style="font-size: 23px; font-family: 'Times New Roman', Times, serif;">Docker Container</p>
  </div>
  <mat-tab-group animationDuration="600ms" style="overflow: auto">
    <mat-tab label="Choice Container">
      <p style="margin-top: 10px; display: flex; align-items: center; justify-content: center">Specifies the Docker
        container representing the Memgraph database.</p>
      <div style="height: 10px"></div>
      <app-docker-tile [container]="this.container"
                       (containerClicked)="this.onContainerClicked($event)"></app-docker-tile>
    </mat-tab>

    <mat-tab label="Choice directory"
             [disabled]="!this.haveChoiceContainer">
    </mat-tab>
    <mat-tab label="Done"
             [disabled]="!this.haveChoiceContainer && !this.haveChoiceDirectory">Content 3
    </mat-tab>
  </mat-tab-group>
</mat-card>
