:host {
  width: 100%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;

}

.master-container {
  width: 800px;
  height: 650px;

  .title {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: rgb(63, 81, 181);
  }
}

.labelClass {
  font-size: 23px;
  font-family: 'Times New Roman', Times, serif;
}

.container-div {
  display: flex;
  align-items: center;
  overflow: auto;
}
